site_name: Prisma
site_description: Documentation for Prisma
docs_dir: docs

theme:
  name: 'material'
  favicon: img/favicon.ico
  logo: img/logo_colour.svg
  font:
    text: Segoe UI
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

# Add this section for the footer
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/prisma-collective/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/prisma-collective
  generator: false  # Removes the "Made with Material for MkDocs" text

# Include custom CSS or fonts
extra_css:
  - stylesheets/extra.css
  - https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap


# Extensions
markdown_extensions:
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - def_list
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: true

plugins:
  - search
  - roamlinks

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/mermaid/dist/mermaid.min.js
  - javascripts/extra.js
