:root {
    --md-primary-fg-color:        #7faec2;
    --md-accent-fg-color:         #c362ff;
  }

[data-md-color-scheme="default"] {
    --md-footer-bg-color: default;
    --md-footer-fg-color: default;
}

[data-md-color-scheme="slate"] {
    --md-footer-bg-color: slate;
    --md-footer-fg-color: slate;
}

.md-footer {
    background-color: var(--md-footer-bg-color);
    color: var(--md-footer-fg-color);
}

.md-footer-meta {
    background-color: rgba(0, 0, 0, 0.1);
}