:root {
    --md-primary-fg-color:        #7faec2;
    --md-accent-fg-color:         #c362ff;
  }

[data-md-color-scheme="default"] {
    --md-footer-bg-color: default;
    --md-footer-fg-color: default;
}

[data-md-color-scheme="slate"] {
    --md-footer-bg-color: slate;
    --md-footer-fg-color: slate;
}

.md-footer {
    background-color: var(--md-footer-bg-color);
    color: var(--md-footer-fg-color);
}

.md-footer-meta {
    background-color: rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
  }

  body, input {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

/* Add this new rule for the navigation links */
.md-nav__link .md-ellipsis {
    font-family: 'Space Grotesk', sans-serif;
}

/* Add this new rule for the navigation title */
.md-nav__title {
    font-family: 'Space Grotesk', sans-serif;
}

body {
  background: black;
}
