{
  "openapi": "3.1.0",
  "info": {
    "title": "Luma API",
    "version": "1.0.0",
    "description": "API for interacting with Luma's event platform",
    "contact": {
      "name": "Luma Support",
      "url": "https://help.lu.ma"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://public-api.lu.ma",
      "description": "Production server"
    }
  ],
  "paths": {
    "/public/v1/event/get": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get Event",
        "parameters": [
          {
            "name": "api_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "description": "Return admin information about an event that you have manage access for.",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "object",
                      "properties": {
                        "api_id": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                        },
                        "cover_url": {
                          "type": "string"
                        },
                        "calendar_api_id": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "description_md": {
                          "type": "string"
                        },
                        "duration_interval": {
                          "type": "string"
                        },
                        "end_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                        },
                        "geo_address_json": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "address"
                          ],
                          "additionalProperties": false,
                          "nullable": true
                        },
                        "geo_latitude": {
                          "type": "string",
                          "nullable": true
                        },
                        "geo_longitude": {
                          "type": "string",
                          "nullable": true
                        },
                        "meeting_url": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string"
                        },
                        "start_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                        },
                        "timezone": {
                          "type": "string",
                          "description": "IANA Timezone, e.g. America/New_York. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"
                        },
                        "url": {
                          "type": "string"
                        },
                        "user_api_id": {
                          "type": "string"
                        },
                        "visibility": {
                          "type": "string",
                          "enum": [
                            "public",
                            "members-only",
                            "private"
                          ]
                        },
                        "zoom_meeting_url": {
                          "type": "string",
                          "nullable": true
                        }
                      },
                      "required": [
                        "api_id",
                        "created_at",
                        "cover_url",
                        "calendar_api_id",
                        "description",
                        "description_md",
                        "duration_interval",
                        "end_at",
                        "geo_address_json",
                        "geo_latitude",
                        "geo_longitude",
                        "meeting_url",
                        "name",
                        "start_at",
                        "timezone",
                        "url",
                        "user_api_id",
                        "visibility",
                        "zoom_meeting_url"
                      ],
                      "additionalProperties": false
                    },
                    "hosts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "api_id": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "first_name": {
                            "type": "string",
                            "nullable": true
                          },
                          "last_name": {
                            "type": "string",
                            "nullable": true
                          },
                          "avatar_url": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "api_id",
                          "email",
                          "name",
                          "first_name",
                          "last_name",
                          "avatar_url"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "event",
                    "hosts"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/calendar/list-events": {
      "get": {
        "tags": [
          "Calendars"
        ],
        "summary": "List Events",
        "parameters": [
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc",
                "asc nulls last",
                "desc nulls last"
              ]
            }
          },
          {
            "name": "sort_column",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "start_at"
              ]
            }
          },
          {
            "name": "pagination_cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Value of `next_cursor` from a previous request."
          },
          {
            "name": "pagination_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "The number of items to return. The server will enforce a maximum number."
          }
        ],
        "description": "Every event and API key on Luma is managed by a [Luma Calendar](https://help.lu.ma/p/helpart-hJI2JawEcFaH6he/luma-calendar-overview). You can list all of the events managed by your Calendar by using this API route.\n\nNote that this API route will not list events that are listed on the Calendar but not managed by the Calendar.",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "api_id": {
                            "type": "string"
                          },
                          "event": {
                            "type": "object",
                            "properties": {
                              "api_id": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                              },
                              "cover_url": {
                                "type": "string"
                              },
                              "calendar_api_id": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "description_md": {
                                "type": "string"
                              },
                              "duration_interval": {
                                "type": "string"
                              },
                              "end_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                              },
                              "geo_address_json": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "address"
                                ],
                                "additionalProperties": false,
                                "nullable": true
                              },
                              "geo_latitude": {
                                "type": "string",
                                "nullable": true
                              },
                              "geo_longitude": {
                                "type": "string",
                                "nullable": true
                              },
                              "meeting_url": {
                                "type": "string",
                                "nullable": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "start_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                              },
                              "timezone": {
                                "type": "string",
                                "description": "IANA Timezone, e.g. America/New_York. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"
                              },
                              "url": {
                                "type": "string"
                              },
                              "user_api_id": {
                                "type": "string"
                              },
                              "visibility": {
                                "type": "string",
                                "enum": [
                                  "public",
                                  "members-only",
                                  "private"
                                ]
                              },
                              "zoom_meeting_url": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "api_id",
                              "created_at",
                              "cover_url",
                              "calendar_api_id",
                              "description",
                              "description_md",
                              "duration_interval",
                              "end_at",
                              "geo_address_json",
                              "geo_latitude",
                              "geo_longitude",
                              "meeting_url",
                              "name",
                              "start_at",
                              "timezone",
                              "url",
                              "user_api_id",
                              "visibility",
                              "zoom_meeting_url"
                            ],
                            "additionalProperties": false
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "api_id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "api_id",
                                "name"
                              ],
                              "additionalProperties": false
                            }
                          }
                        },
                        "required": [
                          "api_id",
                          "event",
                          "tags"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "next_cursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "entries",
                    "has_more"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/event/get-guest": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get Guest",
        "parameters": [
          {
            "name": "event_api_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "This is the API ID of the guest (not the user)."
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proxy_key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "In the check in QR code, this is the value of the `pk` parameter."
          }
        ],
        "description": "Get a guest by their Guest API ID, email or Proxy Key.",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "guest": {
                      "type": "object",
                      "properties": {
                        "api_id": {
                          "type": "string"
                        },
                        "user_api_id": {
                          "type": "string"
                        },
                        "user_email": {
                          "type": "string"
                        },
                        "user_name": {
                          "type": "string",
                          "nullable": true
                        },
                        "user_first_name": {
                          "type": "string",
                          "nullable": true
                        },
                        "user_last_name": {
                          "type": "string",
                          "nullable": true
                        },
                        "approval_status": {
                          "type": "string",
                          "enum": [
                            "approved",
                            "session",
                            "pending_approval",
                            "invited",
                            "declined",
                            "waitlist"
                          ]
                        },
                        "check_in_qr_code": {
                          "type": "string"
                        },
                        "checked_in_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                        },
                        "custom_source": {
                          "type": "string",
                          "nullable": true
                        },
                        "eth_address": {
                          "type": "string",
                          "pattern": "^0x[0-9a-fA-F]{40}$",
                          "nullable": true
                        },
                        "invited_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                        },
                        "joined_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                        },
                        "phone_number": {
                          "type": "string",
                          "nullable": true
                        },
                        "registered_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                        },
                        "registration_answers": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "answer": {
                                    "type": "boolean"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "question_id": {
                                    "type": "string"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "enum": [
                                      "agree-check"
                                    ]
                                  }
                                },
                                "required": [
                                  "label",
                                  "question_id",
                                  "question_type"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "answer": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "question_id": {
                                    "type": "string"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "enum": [
                                      "dropdown"
                                    ]
                                  }
                                },
                                "required": [
                                  "answer",
                                  "label",
                                  "question_id",
                                  "question_type"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "answer": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "nullable": true
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "question_id": {
                                    "type": "string"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "enum": [
                                      "multi-select"
                                    ]
                                  }
                                },
                                "required": [
                                  "answer",
                                  "label",
                                  "question_id",
                                  "question_type"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "answer": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "question_id": {
                                    "type": "string"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "enum": [
                                      "phone-number"
                                    ]
                                  }
                                },
                                "required": [
                                  "label",
                                  "question_id",
                                  "question_type"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "answer": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "boolean",
                                        "enum": [
                                          true
                                        ]
                                      }
                                    ]
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "question_id": {
                                    "type": "string"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "enum": [
                                      "terms"
                                    ]
                                  }
                                },
                                "required": [
                                  "answer",
                                  "label",
                                  "question_id",
                                  "question_type"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "answer": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "question_id": {
                                    "type": "string"
                                  },
                                  "question_type": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "enum": [
                                          "company"
                                        ]
                                      },
                                      {
                                        "type": "string",
                                        "enum": [
                                          "dropdown"
                                        ]
                                      },
                                      {
                                        "type": "string",
                                        "enum": [
                                          "instagram"
                                        ]
                                      },
                                      {
                                        "type": "string",
                                        "enum": [
                                          "linkedin"
                                        ]
                                      },
                                      {
                                        "type": "string",
                                        "enum": [
                                          "long-text"
                                        ]
                                      },
                                      {
                                        "type": "string",
                                        "enum": [
                                          "multi-select"
                                        ]
                                      },
                                      {
                                        "type": "string",
                                        "enum": [
                                          "phone-number"
                                        ]
                                      },
                                      {
                                        "type": "string",
                                        "enum": [
                                          "terms"
                                        ]
                                      },
                                      {
                                        "type": "string",
                                        "enum": [
                                          "text"
                                        ]
                                      },
                                      {
                                        "type": "string",
                                        "enum": [
                                          "twitter"
                                        ]
                                      },
                                      {
                                        "type": "string",
                                        "enum": [
                                          "youtube"
                                        ]
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "answer",
                                  "label",
                                  "question_id",
                                  "question_type"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "answer": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "question_id": {
                                    "type": "string"
                                  },
                                  "question_type": {
                                    "type": "string",
                                    "enum": [
                                      "url"
                                    ]
                                  }
                                },
                                "required": [
                                  "answer",
                                  "label",
                                  "question_id",
                                  "question_type"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "nullable": true
                        },
                        "solana_address": {
                          "type": "string",
                          "pattern": "^[5KL1-9A-HJ-NP-Za-km-z]{32,44}$",
                          "nullable": true
                        },
                        "event_tickets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "api_id": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "amount_discount": {
                                "type": "number"
                              },
                              "amount_tax": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string",
                                "enum": [
                                  "solana_sol",
                                  "solana_usdc",
                                  "aed",
                                  "afn",
                                  "all",
                                  "amd",
                                  "ang",
                                  "aoa",
                                  "ars",
                                  "aud",
                                  "awg",
                                  "azn",
                                  "bam",
                                  "bbd",
                                  "bdt",
                                  "bgn",
                                  "bhd",
                                  "bif",
                                  "bmd",
                                  "bnd",
                                  "bob",
                                  "brl",
                                  "bsd",
                                  "bwp",
                                  "byn",
                                  "bzd",
                                  "cad",
                                  "cdf",
                                  "chf",
                                  "clp",
                                  "cny",
                                  "cop",
                                  "crc",
                                  "cve",
                                  "czk",
                                  "djf",
                                  "dkk",
                                  "dop",
                                  "dzd",
                                  "egp",
                                  "etb",
                                  "eur",
                                  "fjd",
                                  "fkp",
                                  "gbp",
                                  "gel",
                                  "ghs",
                                  "gip",
                                  "gmd",
                                  "gnf",
                                  "gtq",
                                  "gyd",
                                  "hkd",
                                  "hnl",
                                  "htg",
                                  "huf",
                                  "idr",
                                  "ils",
                                  "inr",
                                  "isk",
                                  "jmd",
                                  "jod",
                                  "jpy",
                                  "kes",
                                  "kgs",
                                  "khr",
                                  "kmf",
                                  "krw",
                                  "kwd",
                                  "kyd",
                                  "kzt",
                                  "lak",
                                  "lbp",
                                  "lkr",
                                  "lrd",
                                  "lsl",
                                  "mad",
                                  "mdl",
                                  "mga",
                                  "mkd",
                                  "mmk",
                                  "mnt",
                                  "mop",
                                  "mur",
                                  "mvr",
                                  "mwk",
                                  "mxn",
                                  "myr",
                                  "mzn",
                                  "nad",
                                  "ngn",
                                  "nio",
                                  "nok",
                                  "npr",
                                  "nzd",
                                  "omr",
                                  "pab",
                                  "pen",
                                  "pgk",
                                  "php",
                                  "pkr",
                                  "pln",
                                  "pyg",
                                  "qar",
                                  "ron",
                                  "rsd",
                                  "rub",
                                  "rwf",
                                  "sar",
                                  "sbd",
                                  "scr",
                                  "sek",
                                  "sgd",
                                  "shp",
                                  "sle",
                                  "sos",
                                  "srd",
                                  "std",
                                  "szl",
                                  "thb",
                                  "tjs",
                                  "tnd",
                                  "top",
                                  "try",
                                  "ttd",
                                  "twd",
                                  "tzs",
                                  "uah",
                                  "ugx",
                                  "usd",
                                  "uyu",
                                  "uzs",
                                  "vnd",
                                  "vuv",
                                  "wst",
                                  "xaf",
                                  "xcd",
                                  "xof",
                                  "xpf",
                                  "yer",
                                  "zar",
                                  "zmw"
                                ],
                                "nullable": true
                              },
                              "checked_in_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                              },
                              "event_ticket_type_api_id": {
                                "type": "string"
                              },
                              "is_captured": {
                                "type": "boolean"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "api_id",
                              "amount",
                              "amount_discount",
                              "amount_tax",
                              "currency",
                              "checked_in_at",
                              "event_ticket_type_api_id",
                              "is_captured",
                              "name"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "event_ticket": {
                          "type": "object",
                          "properties": {
                            "api_id": {
                              "type": "string"
                            },
                            "amount": {
                              "type": "number"
                            },
                            "amount_discount": {
                              "type": "number"
                            },
                            "amount_tax": {
                              "type": "number"
                            },
                            "currency": {
                              "type": "string",
                              "enum": [
                                "solana_sol",
                                "solana_usdc",
                                "aed",
                                "afn",
                                "all",
                                "amd",
                                "ang",
                                "aoa",
                                "ars",
                                "aud",
                                "awg",
                                "azn",
                                "bam",
                                "bbd",
                                "bdt",
                                "bgn",
                                "bhd",
                                "bif",
                                "bmd",
                                "bnd",
                                "bob",
                                "brl",
                                "bsd",
                                "bwp",
                                "byn",
                                "bzd",
                                "cad",
                                "cdf",
                                "chf",
                                "clp",
                                "cny",
                                "cop",
                                "crc",
                                "cve",
                                "czk",
                                "djf",
                                "dkk",
                                "dop",
                                "dzd",
                                "egp",
                                "etb",
                                "eur",
                                "fjd",
                                "fkp",
                                "gbp",
                                "gel",
                                "ghs",
                                "gip",
                                "gmd",
                                "gnf",
                                "gtq",
                                "gyd",
                                "hkd",
                                "hnl",
                                "htg",
                                "huf",
                                "idr",
                                "ils",
                                "inr",
                                "isk",
                                "jmd",
                                "jod",
                                "jpy",
                                "kes",
                                "kgs",
                                "khr",
                                "kmf",
                                "krw",
                                "kwd",
                                "kyd",
                                "kzt",
                                "lak",
                                "lbp",
                                "lkr",
                                "lrd",
                                "lsl",
                                "mad",
                                "mdl",
                                "mga",
                                "mkd",
                                "mmk",
                                "mnt",
                                "mop",
                                "mur",
                                "mvr",
                                "mwk",
                                "mxn",
                                "myr",
                                "mzn",
                                "nad",
                                "ngn",
                                "nio",
                                "nok",
                                "npr",
                                "nzd",
                                "omr",
                                "pab",
                                "pen",
                                "pgk",
                                "php",
                                "pkr",
                                "pln",
                                "pyg",
                                "qar",
                                "ron",
                                "rsd",
                                "rub",
                                "rwf",
                                "sar",
                                "sbd",
                                "scr",
                                "sek",
                                "sgd",
                                "shp",
                                "sle",
                                "sos",
                                "srd",
                                "std",
                                "szl",
                                "thb",
                                "tjs",
                                "tnd",
                                "top",
                                "try",
                                "ttd",
                                "twd",
                                "tzs",
                                "uah",
                                "ugx",
                                "usd",
                                "uyu",
                                "uzs",
                                "vnd",
                                "vuv",
                                "wst",
                                "xaf",
                                "xcd",
                                "xof",
                                "xpf",
                                "yer",
                                "zar",
                                "zmw"
                              ],
                              "nullable": true
                            },
                            "checked_in_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                            },
                            "event_ticket_type_api_id": {
                              "type": "string"
                            },
                            "is_captured": {
                              "type": "boolean"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "api_id",
                            "amount",
                            "amount_discount",
                            "amount_tax",
                            "currency",
                            "checked_in_at",
                            "event_ticket_type_api_id",
                            "is_captured",
                            "name"
                          ],
                          "additionalProperties": false,
                          "nullable": true
                        },
                        "event_ticket_orders": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "api_id": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "amount_discount": {
                                "type": "number"
                              },
                              "amount_tax": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string",
                                "enum": [
                                  "solana_sol",
                                  "solana_usdc",
                                  "aed",
                                  "afn",
                                  "all",
                                  "amd",
                                  "ang",
                                  "aoa",
                                  "ars",
                                  "aud",
                                  "awg",
                                  "azn",
                                  "bam",
                                  "bbd",
                                  "bdt",
                                  "bgn",
                                  "bhd",
                                  "bif",
                                  "bmd",
                                  "bnd",
                                  "bob",
                                  "brl",
                                  "bsd",
                                  "bwp",
                                  "byn",
                                  "bzd",
                                  "cad",
                                  "cdf",
                                  "chf",
                                  "clp",
                                  "cny",
                                  "cop",
                                  "crc",
                                  "cve",
                                  "czk",
                                  "djf",
                                  "dkk",
                                  "dop",
                                  "dzd",
                                  "egp",
                                  "etb",
                                  "eur",
                                  "fjd",
                                  "fkp",
                                  "gbp",
                                  "gel",
                                  "ghs",
                                  "gip",
                                  "gmd",
                                  "gnf",
                                  "gtq",
                                  "gyd",
                                  "hkd",
                                  "hnl",
                                  "htg",
                                  "huf",
                                  "idr",
                                  "ils",
                                  "inr",
                                  "isk",
                                  "jmd",
                                  "jod",
                                  "jpy",
                                  "kes",
                                  "kgs",
                                  "khr",
                                  "kmf",
                                  "krw",
                                  "kwd",
                                  "kyd",
                                  "kzt",
                                  "lak",
                                  "lbp",
                                  "lkr",
                                  "lrd",
                                  "lsl",
                                  "mad",
                                  "mdl",
                                  "mga",
                                  "mkd",
                                  "mmk",
                                  "mnt",
                                  "mop",
                                  "mur",
                                  "mvr",
                                  "mwk",
                                  "mxn",
                                  "myr",
                                  "mzn",
                                  "nad",
                                  "ngn",
                                  "nio",
                                  "nok",
                                  "npr",
                                  "nzd",
                                  "omr",
                                  "pab",
                                  "pen",
                                  "pgk",
                                  "php",
                                  "pkr",
                                  "pln",
                                  "pyg",
                                  "qar",
                                  "ron",
                                  "rsd",
                                  "rub",
                                  "rwf",
                                  "sar",
                                  "sbd",
                                  "scr",
                                  "sek",
                                  "sgd",
                                  "shp",
                                  "sle",
                                  "sos",
                                  "srd",
                                  "std",
                                  "szl",
                                  "thb",
                                  "tjs",
                                  "tnd",
                                  "top",
                                  "try",
                                  "ttd",
                                  "twd",
                                  "tzs",
                                  "uah",
                                  "ugx",
                                  "usd",
                                  "uyu",
                                  "uzs",
                                  "vnd",
                                  "vuv",
                                  "wst",
                                  "xaf",
                                  "xcd",
                                  "xof",
                                  "xpf",
                                  "yer",
                                  "zar",
                                  "zmw"
                                ],
                                "nullable": true
                              },
                              "coupon_info": {
                                "type": "object",
                                "properties": {
                                  "api_id": {
                                    "type": "string"
                                  },
                                  "percent_off": {
                                    "type": "number",
                                    "nullable": true
                                  },
                                  "cents_off": {
                                    "type": "number",
                                    "nullable": true
                                  },
                                  "currency": {
                                    "type": "string",
                                    "enum": [
                                      "solana_sol",
                                      "solana_usdc",
                                      "aed",
                                      "afn",
                                      "all",
                                      "amd",
                                      "ang",
                                      "aoa",
                                      "ars",
                                      "aud",
                                      "awg",
                                      "azn",
                                      "bam",
                                      "bbd",
                                      "bdt",
                                      "bgn",
                                      "bhd",
                                      "bif",
                                      "bmd",
                                      "bnd",
                                      "bob",
                                      "brl",
                                      "bsd",
                                      "bwp",
                                      "byn",
                                      "bzd",
                                      "cad",
                                      "cdf",
                                      "chf",
                                      "clp",
                                      "cny",
                                      "cop",
                                      "crc",
                                      "cve",
                                      "czk",
                                      "djf",
                                      "dkk",
                                      "dop",
                                      "dzd",
                                      "egp",
                                      "etb",
                                      "eur",
                                      "fjd",
                                      "fkp",
                                      "gbp",
                                      "gel",
                                      "ghs",
                                      "gip",
                                      "gmd",
                                      "gnf",
                                      "gtq",
                                      "gyd",
                                      "hkd",
                                      "hnl",
                                      "htg",
                                      "huf",
                                      "idr",
                                      "ils",
                                      "inr",
                                      "isk",
                                      "jmd",
                                      "jod",
                                      "jpy",
                                      "kes",
                                      "kgs",
                                      "khr",
                                      "kmf",
                                      "krw",
                                      "kwd",
                                      "kyd",
                                      "kzt",
                                      "lak",
                                      "lbp",
                                      "lkr",
                                      "lrd",
                                      "lsl",
                                      "mad",
                                      "mdl",
                                      "mga",
                                      "mkd",
                                      "mmk",
                                      "mnt",
                                      "mop",
                                      "mur",
                                      "mvr",
                                      "mwk",
                                      "mxn",
                                      "myr",
                                      "mzn",
                                      "nad",
                                      "ngn",
                                      "nio",
                                      "nok",
                                      "npr",
                                      "nzd",
                                      "omr",
                                      "pab",
                                      "pen",
                                      "pgk",
                                      "php",
                                      "pkr",
                                      "pln",
                                      "pyg",
                                      "qar",
                                      "ron",
                                      "rsd",
                                      "rub",
                                      "rwf",
                                      "sar",
                                      "sbd",
                                      "scr",
                                      "sek",
                                      "sgd",
                                      "shp",
                                      "sle",
                                      "sos",
                                      "srd",
                                      "std",
                                      "szl",
                                      "thb",
                                      "tjs",
                                      "tnd",
                                      "top",
                                      "try",
                                      "ttd",
                                      "twd",
                                      "tzs",
                                      "uah",
                                      "ugx",
                                      "usd",
                                      "uyu",
                                      "uzs",
                                      "vnd",
                                      "vuv",
                                      "wst",
                                      "xaf",
                                      "xcd",
                                      "xof",
                                      "xpf",
                                      "yer",
                                      "zar",
                                      "zmw"
                                    ],
                                    "nullable": true
                                  },
                                  "code": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "api_id",
                                  "percent_off",
                                  "cents_off",
                                  "currency",
                                  "code"
                                ],
                                "additionalProperties": false,
                                "nullable": true
                              },
                              "is_captured": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "api_id",
                              "amount",
                              "amount_discount",
                              "amount_tax",
                              "currency",
                              "coupon_info",
                              "is_captured"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "api_id",
                        "user_api_id",
                        "user_email",
                        "user_name",
                        "user_first_name",
                        "user_last_name",
                        "approval_status",
                        "check_in_qr_code",
                        "checked_in_at",
                        "custom_source",
                        "eth_address",
                        "invited_at",
                        "joined_at",
                        "phone_number",
                        "registered_at",
                        "registration_answers",
                        "solana_address",
                        "event_tickets",
                        "event_ticket",
                        "event_ticket_orders"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "guest"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/v1/event/get-guests": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get Guests",
        "parameters": [
          {
            "name": "event_api_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "approval_status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "approved",
                "session",
                "pending_approval",
                "invited",
                "declined",
                "waitlist"
              ]
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc",
                "asc nulls last",
                "desc nulls last"
              ]
            }
          },
          {
            "name": "sort_column",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "email",
                "created_at",
                "registered_at",
                "checked_in_at"
              ]
            }
          },
          {
            "name": "pagination_cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Value of `next_cursor` from a previous request."
          },
          {
            "name": "pagination_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "The number of items to return. The server will enforce a maximum number."
          }
        ],
        "description": "Get list of guests who have registered or been invited to an event.",
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "api_id": {
                            "type": "string"
                          },
                          "guest": {
                            "type": "object",
                            "properties": {
                              "api_id": {
                                "type": "string"
                              },
                              "user_api_id": {
                                "type": "string"
                              },
                              "user_email": {
                                "type": "string"
                              },
                              "user_name": {
                                "type": "string",
                                "nullable": true
                              },
                              "user_first_name": {
                                "type": "string",
                                "nullable": true
                              },
                              "user_last_name": {
                                "type": "string",
                                "nullable": true
                              },
                              "approval_status": {
                                "type": "string",
                                "enum": [
                                  "approved",
                                  "session",
                                  "pending_approval",
                                  "invited",
                                  "declined",
                                  "waitlist"
                                ]
                              },
                              "check_in_qr_code": {
                                "type": "string"
                              },
                              "checked_in_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                              },
                              "custom_source": {
                                "type": "string",
                                "nullable": true
                              },
                              "eth_address": {
                                "type": "string",
                                "pattern": "^0x[0-9a-fA-F]{40}$",
                                "nullable": true
                              },
                              "invited_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                              },
                              "joined_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                              },
                              "phone_number": {
                                "type": "string",
                                "nullable": true
                              },
                              "registered_at": {
                                "type": "string",
                                "format": "date-time",
                                "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                              },
                              "registration_answers": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "answer": {
                                          "type": "boolean"
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "question_id": {
                                          "type": "string"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "enum": [
                                            "agree-check"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "label",
                                        "question_id",
                                        "question_type"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "answer": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "question_id": {
                                          "type": "string"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "enum": [
                                            "dropdown"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "answer",
                                        "label",
                                        "question_id",
                                        "question_type"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "answer": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "nullable": true
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "question_id": {
                                          "type": "string"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "enum": [
                                            "multi-select"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "answer",
                                        "label",
                                        "question_id",
                                        "question_type"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "answer": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "question_id": {
                                          "type": "string"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "enum": [
                                            "phone-number"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "label",
                                        "question_id",
                                        "question_type"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "answer": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "boolean",
                                              "enum": [
                                                true
                                              ]
                                            }
                                          ]
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "question_id": {
                                          "type": "string"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "enum": [
                                            "terms"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "answer",
                                        "label",
                                        "question_id",
                                        "question_type"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "answer": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "question_id": {
                                          "type": "string"
                                        },
                                        "question_type": {
                                          "anyOf": [
                                            {
                                              "type": "string",
                                              "enum": [
                                                "company"
                                              ]
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                "dropdown"
                                              ]
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                "instagram"
                                              ]
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                "linkedin"
                                              ]
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                "long-text"
                                              ]
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                "multi-select"
                                              ]
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                "phone-number"
                                              ]
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                "terms"
                                              ]
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                "text"
                                              ]
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                "twitter"
                                              ]
                                            },
                                            {
                                              "type": "string",
                                              "enum": [
                                                "youtube"
                                              ]
                                            }
                                          ]
                                        }
                                      },
                                      "required": [
                                        "answer",
                                        "label",
                                        "question_id",
                                        "question_type"
                                      ],
                                      "additionalProperties": false
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "answer": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "label": {
                                          "type": "string"
                                        },
                                        "question_id": {
                                          "type": "string"
                                        },
                                        "question_type": {
                                          "type": "string",
                                          "enum": [
                                            "url"
                                          ]
                                        }
                                      },
                                      "required": [
                                        "answer",
                                        "label",
                                        "question_id",
                                        "question_type"
                                      ],
                                      "additionalProperties": false
                                    }
                                  ]
                                },
                                "nullable": true
                              },
                              "solana_address": {
                                "type": "string",
                                "pattern": "^[5KL1-9A-HJ-NP-Za-km-z]{32,44}$",
                                "nullable": true
                              },
                              "event_tickets": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "api_id": {
                                      "type": "string"
                                    },
                                    "amount": {
                                      "type": "number"
                                    },
                                    "amount_discount": {
                                      "type": "number"
                                    },
                                    "amount_tax": {
                                      "type": "number"
                                    },
                                    "currency": {
                                      "type": "string",
                                      "enum": [
                                        "solana_sol",
                                        "solana_usdc",
                                        "aed",
                                        "afn",
                                        "all",
                                        "amd",
                                        "ang",
                                        "aoa",
                                        "ars",
                                        "aud",
                                        "awg",
                                        "azn",
                                        "bam",
                                        "bbd",
                                        "bdt",
                                        "bgn",
                                        "bhd",
                                        "bif",
                                        "bmd",
                                        "bnd",
                                        "bob",
                                        "brl",
                                        "bsd",
                                        "bwp",
                                        "byn",
                                        "bzd",
                                        "cad",
                                        "cdf",
                                        "chf",
                                        "clp",
                                        "cny",
                                        "cop",
                                        "crc",
                                        "cve",
                                        "czk",
                                        "djf",
                                        "dkk",
                                        "dop",
                                        "dzd",
                                        "egp",
                                        "etb",
                                        "eur",
                                        "fjd",
                                        "fkp",
                                        "gbp",
                                        "gel",
                                        "ghs",
                                        "gip",
                                        "gmd",
                                        "gnf",
                                        "gtq",
                                        "gyd",
                                        "hkd",
                                        "hnl",
                                        "htg",
                                        "huf",
                                        "idr",
                                        "ils",
                                        "inr",
                                        "isk",
                                        "jmd",
                                        "jod",
                                        "jpy",
                                        "kes",
                                        "kgs",
                                        "khr",
                                        "kmf",
                                        "krw",
                                        "kwd",
                                        "kyd",
                                        "kzt",
                                        "lak",
                                        "lbp",
                                        "lkr",
                                        "lrd",
                                        "lsl",
                                        "mad",
                                        "mdl",
                                        "mga",
                                        "mkd",
                                        "mmk",
                                        "mnt",
                                        "mop",
                                        "mur",
                                        "mvr",
                                        "mwk",
                                        "mxn",
                                        "myr",
                                        "mzn",
                                        "nad",
                                        "ngn",
                                        "nio",
                                        "nok",
                                        "npr",
                                        "nzd",
                                        "omr",
                                        "pab",
                                        "pen",
                                        "pgk",
                                        "php",
                                        "pkr",
                                        "pln",
                                        "pyg",
                                        "qar",
                                        "ron",
                                        "rsd",
                                        "rub",
                                        "rwf",
                                        "sar",
                                        "sbd",
                                        "scr",
                                        "sek",
                                        "sgd",
                                        "shp",
                                        "sle",
                                        "sos",
                                        "srd",
                                        "std",
                                        "szl",
                                        "thb",
                                        "tjs",
                                        "tnd",
                                        "top",
                                        "try",
                                        "ttd",
                                        "twd",
                                        "tzs",
                                        "uah",
                                        "ugx",
                                        "usd",
                                        "uyu",
                                        "uzs",
                                        "vnd",
                                        "vuv",
                                        "wst",
                                        "xaf",
                                        "xcd",
                                        "xof",
                                        "xpf",
                                        "yer",
                                        "zar",
                                        "zmw"
                                      ],
                                      "nullable": true
                                    },
                                    "checked_in_at": {
                                      "type": "string",
                                      "format": "date-time",
                                      "description": "ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"
                                    },
                                    "event_ticket_type_api_id": {
                                      "type": "string"
                                    },
                                    "is_captured": {
                                      "type": "boolean"
                                    },
                                    "name": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "api_id",
                                    "amount",
                                    "amount_discount",
                                    "amount_tax",
                                    "currency",
                                    "checked_in_at",
                                    "event_ticket_type_api_id",
                                    "is_captured",
                                    "name"
                                  ],
                                  "additionalProperties": false
                                }
                              },
                              "event_ticket": {
                                "type": "object",
                                "properties": {
                                  "api_id": {
                                    "type": "string"
                                  },
                                  "amount": {
                                    "type": "number"
                                  },
                                  "amount_discount": {
                                    "type": "number"
                                  },
                                  "amount_tax": {
                                    "type": "number"
                                  },
                                  "currency": {
                                    "type": "string",
                                    "enum": [
                                      "solana_sol",
                                      "solana_usdc",
                                      "aed",
                                      "afn",
                                      "all",
                                      "amd",
                                      "ang",
                                      "aoa",
                                      "ars",
                                      "aud",
                                      "awg",
                                      "azn",
                                      "bam",
                                      "bbd",
                                      "bdt",
                                      "bgn",
                                      "bhd",
                                      "bif",
                                      "bmd",
                                      "bnd",
                                      "bob",
                                      "brl",
                                      "bsd",
                                      "bwp",
                                      "byn",
                                      "bzd",
                                      "cad",
                                      "cdf",
                                      "chf",
                                      "clp",
                                      "cny",
                                      "cop",
                                      "crc",
                                      "cve",
                                      "czk",
                                      "djf",
                                      "dkk",
                                      "dop",
                                      "dzd",
                                      "egp",
                                      "etb",
                                      "eur",
                                      "fjd",
                                      "fkp",
                                      "gbp",
                                      "gel",
                                      "ghs",
                                      "gip",
                                      "gmd",
                                      "gnf",
                                      "gtq",
                                      "gyd",
                                      "hkd",
                                      "hnl",
                                      "htg",
                                      "huf",
                                      "idr",
                                      "ils",
                                      "inr",
                                      "isk",
                                      "jmd",
[...]
